.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
    margin-left: 25%;
}

.subtitle{
    text-align: center;
    margin-left: 6%;
    font-size: 45px;
  
}
.subtitle{
    text-align: center;
    margin-left: 7%;
    font-size: 50px;
  
}
.subtitle3{
    text-align: center;

  
}
.subtitle2{
    text-align: center;
    margin-left: 6%;
    font-size: 15px;
  
}
.img{
  border: solid 5px ;    
  border-color: black;
  width: 500%;
  height: 50%; 
}


.img2{
    border: solid 5px ;
    border-color: black;  
    width: 70%;
    height: 80%;  
    margin-left: 15%;
}

@media(max-width:414px){
    .subtitle{
        text-align: center;
        margin-right: 5%;
        font-size: 25px;
      
    } 
    .subtitle2{
        text-align: center;
        margin-left: 0%;
        font-size: 15px;
      
    }
    
  }